<p class="bg-info" style="height: 300px;">
  <label class="text-danger" style="font-size: 70px;" > Final exam</label> 
  <br/>
  <label class="text-light" style="font-size: 30px;">Find all even numbers between two numbers</label>
</p>

<div class="row">
  
  <label class="textsuccess">Number1:</label>  
  <br/>
  <input type="text"  [(ngModel)]="numberval1">
  

  <label class="textsuccess" >Number2:</label>  
  <br/>
  <input type="text" [(ngModel)]="numberval2">

</div>

<div>
<button class="btn-primary-warning" (click)="validateNum()" name="Submit">
  Submit
</button>
<br/>
<br/>
<br/>
<label class="textsuccess" style="font-size: large;height: 30px;" >Calculation result</label>  
<div>
  <textarea [(ngModel)] = "finaltext" style="height: 120px;width: 300px;"></textarea>

</div>
</div>
